body {
	margin: 0;
}

.field {
	width: 100vw;
	height: 100vh;
	background-color: lightgrey;
}

.platform {
    background-color: red;
    width: 20%;
    height: 100%;
    left: 0;
    top: 0%;
    position: fixed;
}
.platform > .level-1 {
	background-color: blue;
	width: 50%;
	height: 100%;
	left: 50%;
	top: 0;
	position: absolute;
}

.platform > .level-2 > div {
	background-color: forestgreen;
	width: 50%;
	height: 33%;
	left: 0%;
	position: absolute;
}

.platform > .level-2 > .left {
	top: 0%;
}

.platform > .level-2 > .right {
	bottom: 0%;
}

.platform > .level-3 {
	background-color: aqua;
	width: 50%;
	height: 34%;
	left: 0%;
	top: 33%;
	position: absolute;
}

.rocket {
	width: 20%;
	height: 100%;
	top: 0;
	left: 40%;
	position: fixed;
}

.rocket > div {
	background-color: red;
	width: 100%;
	height: 15%;
	left: 0%;
	position: absolute;
}

.rocket > .left {
	background-color: blue;
	top: 0%;
}

.rocket > .right {
	background-color: forestgreen;
	bottom: 0%;
}

.cargo-ship {
	background-color: red;
	width: 60%;
	height: 50%;
	top: 25%;
	right: 0%;
	position: absolute;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 
		"bow starboard starboard starboard"
		"bow port port port";
}

.cargo-ship > div {}

.cargo-ship > .port {
	background-color: forestgreen;
	grid-area: port;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 100%;
	grid-template-areas: "fore mid aft";
}

.cargo-ship > .starboard {
	background-color: blue;
	grid-area: starboard;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 100%;
	grid-template-areas: "fore mid aft";
}

.cargo-ship > .bow {
	background-color: aqua;
	grid-area: bow;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"port"
		"starboard";
}


.cargo-ship .bay {
	background-color: #ff149370;
}

.cargo-ship .bay.fore {
	grid-area: fore;
}

.cargo-ship .bay.mid {
	grid-area: mid;
}

.cargo-ship .bay.aft {
	grid-area: aft;
}

.cargo-ship .bay.port {
	grid-area: port;
}

.cargo-ship .bay.starboard {
	grid-area: starboard;
}

.rocket > .open {
	width: 300%;
	height: 90%;
	left: -100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
		"fore"
		"mid"
		"aft";
}

.rocket > .open > .fore {
	grid-area: fore;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "port center starboard";
	background-color: tan;
}

.rocket > .open > .mid {
	grid-area: mid;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "port center starboard";
	background-color: coral;
}

.rocket > .open > .aft {
	grid-area: aft;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "port center starboard";
	background-color: crimson;
}

.rocket > .open > div > .bay.port {
	background-color: #5f9ea080;
	grid-area: port;
}

.rocket > .open > div > .bay.center {
	background-color: #a52a2a80;
	grid-area: center;
}

.rocket > .open > div > .bay.starboard {
	background-color: #2da54080;
	grid-area: starboard;
}
